<!-- <ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button icon-only (click)="toggleMenu()"> <ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
    <ion-title>
        Alertas Emergencia
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()"> <ion-icon name="log-out"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab top right>
    <button ion-fab color="danger" (click)="motrar_modal()"><ion-icon name="alert"></ion-icon></button>
  </ion-fab>

<h1>Ultimas alertas</h1>
<ion-card *ngFor="let alerta of (alertas | async)?.reverse()">
  <agm-map [latitude]="alerta.lat" [longitude]="alerta.lon" [zoom]="17" [scrollwheel]="false" [mapDraggable]="false">
    <agm-marker [latitude]="alerta.lat" [longitude]="alerta.lon"></agm-marker>
  </agm-map>
  <ion-card-content (click)="descripAlert(alerta)">
    <ion-card-title>{{ alerta.tipo }}</ion-card-title>
    <p>{{ alerta.descripcion }}</p>
    <p>{{ mostrar_fecha(alerta.tiempo) }}</p>
  </ion-card-content>
</ion-card>
</ion-content> -->
<ion-header>
  <ion-navbar>
      <ion-buttons>
          <button ion-button icon-only (click)="toggleMenu()"> <ion-icon name="menu"></ion-icon></button>
        </ion-buttons>
    <ion-title>
      Alertas Cercanas
    </ion-title>
    <!-- <ion-buttons end>
        <button ion-button icon-only (click)="logout()"> <ion-icon name="log-out"></ion-icon></button>
      </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-fab top right>
        <button ion-fab color="danger" (click)="motrar_modal()"><ion-icon name="alert"></ion-icon></button>
    </ion-fab>
    <ion-fab right middle>
        <button ion-fab color="success" (click)="motrar_ultimos()"><ion-icon name="list-box"></ion-icon></button>
    </ion-fab>
    <ion-fab center bottom>
      <button mini ion-fab color="success" (click)="volver()"><ion-icon name="locate"></ion-icon></button>
  </ion-fab>
  <agm-map [latitude]="lat" [longitude]="lon" [zoom]=17 [clickableIcons]="false" (mapDblClick)="motrar_modal2($event)" [disableDoubleClickZoom]="true" backgroundColor="grey" [disableDefaultUI]="true">
    <agm-marker [label]="'yo'" [latitude]="yo.lat" [longitude]="yo.lon"></agm-marker>
    <agm-marker *ngIf="tempMarker.ver" [label]="'nuevo'" [latitude]="tempMarker.lat" [longitude]="tempMarker.lon"></agm-marker>
    <agm-marker *ngFor="let alerta of alertas | async" [latitude]="alerta.lat" [longitude]="alerta.lon" [iconUrl]="'assets/img/'+alerta.tipo+'_.png'">
      <agm-info-window>
        <h5>{{ alerta.tipo }}</h5>
        <p>{{ alerta.descripcion }}</p>
        <span>{{ alerta.tiempo | date:'short' }}</span>
        <button ion-button small block icon-left (click)="llamar(alerta.tipo)">
          <ion-icon name="call"></ion-icon>Llamar a {{ (alerta.tipo | tipoAlerta).nombre }}
        </button>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</ion-content>
